body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.swal-club{
    color: white;
}

.box {
    border: solid;
    border-width: 1px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 5px 5px 5px 5px;
}