@model IEnumerable<FinancialPlanner.Models.JoinNotifications>

@{
    ViewBag.Title = "Index";
}

<h2>Household Invites</h2>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                House Name
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Household.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    <a href="@Url.Action("Accept", "Users")" class="btn btn-info">Accept</a>
                    <a href="@Url.Action("Reject", "Users")" class="btn btn-info">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $('.table').DataTable();
    </script>
    }