@model FinancialPlanner.Models.BudgetViewModel

<div class="row">
    <div class="col-md-6">
        <h2>Budget for @Model.account.Name</h2>
    </div>
    <div class="col-6-md">
        <a class="btn btn-info" href="@Url.Action("Create", "BudgetCategories", new { id = Model.budget.Id })">Add Budget Category</a>
    </div>
</div>
<br />
<br />
@if (Model.budget.Amount == 0)
{
    <h4>You do not have any budgets set create one to get started!</h4>
}
else
{
    DateTimeOffset check = DateTime.Now;
    var days = 30 - check.Day;
    double total = 0;
    if (days == -1)
    {
        check.AddDays(-31);
    }
    else if (check.Month == 2)
    {
        days = 28 - check.Day;
        check.AddDays(-days);
    }
    else
    {
        check.AddDays(-days);
    }
    var transactions = Model.account.Transactions.Where(t => t.Date > check).Where(t => t.Account.Budget.BudgetCategories.Select(b => b.CategoryId).Contains(t.SubCategory.CategoryId));

    foreach (var item in transactions)
    {
        total = total + item.Amount;
    }
    var percent = Model.budget.Amount / total;

    <div class="progress-bar-info" style="width: @percent%"></div>
}